# Auto detect text files and perform LF normalization
* text=auto

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare binary files to be excluded from LF normalization
*.jpg binary
*.png binary
*.gif binary
